{% extends 'layout/base.html.twig'%}
{# {% block noticias %}
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR -->
<div class="container">
<div class="recent-tweets" style="background-color: #fff;">
<div class="container">
<div class="row show-grid">
<div class="col-sm-12 col-md-12 twitter-wrapper">
<div id="nav_t"></div>
<div class="tweets-slide">
<ul class="slides"></ul>
</div><span class="follow_img"><img alt="" src="img/follow.png" class="img-responsive" /></span>
</div>
</div>
</div>
</div>
</div>
{% endblock %} #}
{% block contenido %}
<!-- MAIN CONTENT AREA -->
<div class="main-content">
<div class="container">
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
<div class="bannercontainer">
<div class="banner">
<ul>
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE
STYLE=BOXFADE] -->
<li class="slide1 slide" data-transition="boxfade" data-slotamount="5"
data-masterspeed="300">
<img alt="" src="img/slider01.png" class="img-responsive" />
<div class="caption sft carousel-caption" data-x="80" data-y="110" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none;">
    <p class="middle">Optimizamos su gestión administrativa y contable</p>
</div>
<div class="caption sfl carousel-caption" data-x="98" data-y="141" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Servicio de </p>
</div>
<div class="caption sfl carousel-caption" data-x="98" data-y="191" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Administración y Contabilidad</p>
</div>
<div class="caption sfb carousel-caption" data-x="111" data-y="247" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
    <p class="small">Generación de registros contables, presentación de estados
    e informes financieros.</p>
</div>
</li>
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE
STYLE=LEFT] -->
<li class="slide2 slide" data-transition="slideleft" data-slotamount="10"
data-masterspeed="300">
<img alt="" src="img/slider02.png" class="img-responsive" />
<div class="caption sft carousel-caption" data-x="430" data-y="69" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none;">
    <p class="middle">¿Está buscando una administradora para su condominio?</p>
</div>
<div class="caption sfr carousel-caption" data-x="462" data-y="107" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Administración de</p>
</div>
<div class="caption sfl carousel-caption" data-x="462" data-y="156" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Condominios, Edificios</p>
</div>
<div class="caption sfl carousel-caption" data-x="462" data-y="205" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Conjuntos Residenciales</p>
</div>
<div class="caption sfb carousel-caption" data-x="474" data-y="262" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
    <p class="small">Ofrecemos un servicio basado en la honestidad y respuestas oportunas. Contamos con 
    los recursos y la infraestructura tecnólogica para brindarle información y comodidad a los propietarios.</p>
</div>
</li>
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE
STYLE=SLIDE DOWN] -->
<li class="slide3 slide" data-transition="slidedown" data-slotamount="1"
data-masterspeed="300">
<img alt="" src="img/slider03.png" class="img-responsive" />
<div class="caption sft carousel-caption" data-x="43" data-y="184" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background:none; padding-left: 0;">
    <p class="middle" style="color: #fff;">Brindamos seguridad y garantía</p>
</div>
<div class="caption sfl carousel-caption" data-x="0" data-y="228" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none; padding-left: 0; width: 781px;">
    <p class="big">Asesoría Fiscal y Gestoría</p>
</div>
<div class="caption sfb carousel-caption" data-x="0" data-y="281" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0; width: 100%;">
    <p class="small">Declaración del I.V.A, libros obligatorios por ley, renta y patrimonio, pagos fraccionados, declaración de sociedades.
        <br/>Optimizamos su estructura arancelaria y carga tributaria.</p>
</div>
</li>
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 4 [SLIDE
STYLE=BOXFADE] -->
<li class="slide4 slide" data-transition="boxfade" data-slotamount="5"
data-masterspeed="300">
<img alt="" src="img/slider07.png" class="img-responsive" />
<div class="caption sft carousel-caption" data-x="0" data-y="78" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none;">
    <p class="middle">Outsourcing administrativo y contable</p>
</div>
<div class="caption sfl carousel-caption" data-x="26" data-y="107" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Todos los servicios para</p>
</div>
<div class="caption sfl carousel-caption" data-x="26" data-y="160" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">la gestión de su empresa</p>
</div>
<div class="caption sfl carousel-caption" data-x="26" data-y="214" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">en un solo lugar</p>
</div>
<div class="caption sfb carousel-caption" data-x="42" data-y="265" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
    <p class="small">Ahorre tiempo y dinero, permítanos optimizar la gestión administrativa y contable de
        su empresa, dedique más tiempo a la gestión opetativa. Somos su mejor alternativa outsourcing.</p>
</div>
<div class="caption sfl carousel-caption stick1" data-x="450" data-y="52"
     data-speed="1400" data-start="1000" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick01.png" class="img-responsive" />
</div>
<div class="caption sfl carousel-caption stick2" data-x="607" data-y="52"
     data-speed="1400" data-start="1500" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick02.png" class="img-responsive" />
</div>
<div class="caption sfl carousel-caption stick3" data-x="764" data-y="52"
     data-speed="1400" data-start="2000" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick03.png" class="img-responsive" />
</div>
<div class="caption sfl carousel-caption stick4" data-x="450" data-y="208"
     data-speed="1400" data-start="2500" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick04.png" class="img-responsive" />
</div>
<div class="caption sfl carousel-caption stick5" data-x="607" data-y="208"
     data-speed="1400" data-start="3000" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick05.png" class="img-responsive" />
</div>
<div class="caption sfl carousel-caption stick6" data-x="764" data-y="208"
     data-speed="1400" data-start="3500" data-easing="easeInExpo" style="background: none;">
    <img alt="" src="img/slide_stick06.png" class="img-responsive" />
</div>
</li>
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 5 [SLIDE
STYLE=SLOTFADE HORIZONTAL] -->
<li class="slide5 slide" data-transition="slotfade-horizontal" data-masterspeed="300"
data-slotamount="20">
<img alt="" src="img/slider04.png" class="img-responsive" />
<div class="caption sft carousel-caption" data-x="350" data-y="71" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
    <p class="middle">Hagámos un negocio inteligente!</p>
</div>
<div class="caption sfr carousel-caption" data-x="400" data-y="105" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">Póngase en contacto</p>
</div>
<div class="caption sfr carousel-caption" data-x="400" data-y="154" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">con nostros, complete</p>
</div>
<div class="caption sfr carousel-caption" data-x="400" data-y="205" data-speed="1000"
     data-start="1000" data-easing="easeOutBack" style="background: none;">
    <p class="big">el formulario de contacto</p>
</div>
<div class="caption sfb carousel-caption" data-x="400" data-y="268" data-speed="1000"
     data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
    <p class="small">Nos difernciamos de otras empresas del mercado, por la calidad del servicio que ofrecemos, porque invertimos
    para estar a la vanguardia tecnológica y actualizados en nuestras áreas de trabajo.</p>
</div>
</li>
</ul>
<div class="tp-bannertimer"></div>
</div>
</div>
<div class="row main-block">
<div class="col-sm-12 col-md-12">
<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO LIST -->
<div class="row show-grid hero-list features-list">
<div class="col-sm-3 col-md-3">
<div class="image-wrapper">
<a href="administracion-contabilidad.html"><img alt="" src="img/home_grid.png" class="img-responsive" /></a>
</div>
<h2><a href="administracion-contabilidad.html">Administración Contabilidad</a></h2>
<!--p>Asistencia contable, registros e informes, estados financieros, control de cobranzas y más.</p-->
</div>
<div class="col-sm-3 col-md-3">
<div class="image-wrapper">
    <a href="fiscal.html"><img alt="" src="img/home_gears.png" class="img-responsive" /></a>
</div>
    <h2><a href="fiscal.html">Asesoría<br />Fiscal</a></h2>
<!--p>Optimizamos us carga tributaria. Brindamos soluciones a su estructura arancelaria.</p-->
</div>
<div class="col-sm-3 col-md-3">
<div class="image-wrapper">
    <a href="administracion-condominio.html"><img alt="" src="img/home_arrow.png" class="img-responsive" /></a>
</div>
    <h2><a href="administracion-condominio.html">Administración Condominios</a></h2>
<!--p>Servicio honesto, seguro y confiable, con recursos financieros, contables y tecnológicos de primera.</p-->
</div>
<div class="col-sm-3 col-md-3">
<div class="image-wrapper">
    <a href="auditoria.html"><img alt="" src="img/home_arrows.png" class="img-responsive" /></a>
</div>
    <h2><a href="auditoria.html">Auditorías<br />Gestoría</a></h2>
<!--p>Control y certificación de procesos de acuerdos a las normas y regulaciones. Tramitamos todo tipo de documentos.</p-->
</div>
</div>
</div>
</div>
<!-- FREE TRIAL PROMO BOX -->
<!--div class="jumbotron dark-hero">
<h1>Ingrese a <span>Condominio en Línea</span> </h1>
<ul class="unstyled">
<li>Consuta Estado de Cuenta</li>
<li>|</li>
<li>Reporte Pagos</li>
<li>|</li>
<li>Recibos de condominio</li>
<li>|</li>
<li>Avisos de cobro</li>
<li>|</li>
<li>Y más...</li>
</ul> <a class="btn btn-lg btn-primary" href="administracion-condominio.html">Entrar</a>
</div-->
<!--div class="row show-grid features-block mini-blocks">
<div class="col-sm-4 col-md-4 block1">
<div class="mini-wrapper">
<h2>Últimas actividades</h2>
<ul class="soft-updates">
<li>
    <div class="date-img"> <span class="top-date">ENE</span>
        <span class="bottom-date">1</span>
    </div>
    <p>Inicio del año fiscal. Inicio actividades MH Calidad Adminsitrativa.</p>
</li>
<li>
    <div class="date-img"> <span class="top-date">OCT</span>
        <span class="bottom-date">28</span>
    </div>
    <p>Version 2.4 of reDesign has been released</p> <a href="product-release-history.html">details</a>
</li>
<li>
    <div class="date-img"> <span class="top-date">SEP</span>
        <span class="bottom-date">17</span>
    </div>
    <p>Version 2.3 of reDesign has been released</p> <a href="product-release-history.html">details</a>
</li>
</ul>
</div>
</div>
<div class="col-sm-4 col-md-4 block2">
<div class="mini-wrapper">
<h2>Opinan nuestros clientes</h2>
<ul>
<li>
    <blockquote class="greyb">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p> <small><strong>Katherine Anne</strong> - barcamp BRISSBANE</small>
    </blockquote>
</li>
<li>
    <blockquote class="greyb">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</p> <small><strong>James Riley</strong> - Engenharia Ambiental</small>
    </blockquote>
</li>
</ul>
</div>
</div>
<div class="col-sm-4 col-md-4 block3">
<div class="mini-wrapper">
<h2>Algunos clientes nuestros</h2>
<ul class="mini-clients">
<li>
    <img src="img/client_001.png" alt="" class="img-responsive" />
</li>
<li>
    <img style="margin-left: -14px;" src="img/client_002.png" alt="" class="img-responsive"
         />
</li>
<li>
    <img src="img/client_003.png" alt="" class="img-responsive" />
</li>
</ul>
</div>
</div>
</div-->
</div>
<div class="recent-publicaciones">
<div class="container">
<div class="row show-grid">
<div class="col-sm-12 col-md-12 twitter-wrapper">
<div id="nav_t1"></div>
<div class="publicaciones-slide" data-url="{{ constant('ROOT') }}">
<ul class="slides"></ul>
</div><span class="follow_img"><img alt="" src="img/mhinforma.png" class="img-responsive" /></span>
</div>
</div>
</div>
</div>
</div>
{% endblock %}