<hr>
<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - CLIENTS LOGO BAR -->
<div class="main-block clients">
<div class="title-wrapper">
<h2>Han confiado en nosotros</h2>
</div>
<div class="row show-grid">
<div class="col-md-12 col-sm-12">
<div id="clients" class="row show-grid">
<div class="col-md-2 col-sm-2 clear-both hp-wrapper">
<img alt="" src="img/client1.jpg" />
</div>
<div class="col-md-2 col-sm-2 hp-wrapper">
<img alt="" src="img/client2.jpg" />
</div>
<div class="col-md-2 col-sm-2 hp-wrapper">
<img alt="" src="img/client3.jpg" />
</div>
<div class="col-md-2 col-sm-2 hp-wrapper">
<img alt="" src="img/client4.jpg" />
</div>
<div class="col-md-2 col-sm-2 hp-wrapper">
<img alt="" src="img/client5.jpg" />
</div>
<div class="col-md-2 col-sm-2 hp-wrapper">
<img alt="" src="img/client6.jpg" />
</div>
</div>
</div>
</div>
</div>