<!-- FOOTER STARTS HERE -->
<footer id="footer">
<div class="footer-top"></div>
<div class="footer-wrapper">
<div class="container">
<div class="row show-grid">
<div class="col-sm-12 col-sm-12 col-md-12">
<div class="row show-grid">
<!-- FOOTER: LOGO -->
<div class="col-sm-4 col-md-4">
    <img alt="" class="footer-logo img-responsive" src="{{ constant('ROOT')}}img/grey_logo.png" />
<!-- FOOTER: ADDRESS --> <address class="address">

<p><i class="fa fa-map-marker fa-2x"></i>Av.Este 0. Edif.INA. Piso 1. Apto 105</p>
<p><i>&nbsp;</i>La Candelaria, Caracas</p>
<p><i class="fa fa-phone fa-2x"></i>Teléfono: (0212) 573-1047</p>
<p><i class="fa fa-mobile-phone fa-2x"></i>Celular: (0416) 938-3447</p>
<p><i class="fa fa-mobile-phone fa-2x"></i>Celular: (0426) 316-1771</p>
<p><i class="fa fa-envelope-o"></i>email: mhcalidadadmi@yahoo.es</p>
<p><i class="fa fa-envelope-o"></i>email: aular6@hotmail.com</p>
</address>
</div>
<!-- FOOTER: ABOUT US -->
<div class="col-sm-4 col-md-4 footer-center">
<h4 class="center-title">Administración de Condominio</h4>
<p>Estamos comprometidos en ofrecerles el servicio que usted se merece, sacando provecho de la tecnología, queremos ofrecerle un página web donde usted pueda efectuar, desde cualquier lugar, con una comutadora con conexión a internet una gama de operaciones relacionadas con su cuenta de condominio</p>

<p>El servicio de Condominio en línea le permite estar informado de su cuenta de condominio, además de obtener los principales documentos que usted requiere, sin la necesidad de tiempos de espera o trasladarse hasta a la oficina de condominio.</p>
</div>
<!-- FOOTER: NAVIGATION LINKS -->
<div class="col-sm-4 col-md-4 footer-right">
<h4 class="center-title">Menú Rápido</h4>
<ul class="footer-navigate">
{% if session.cpanel %}
<li>
<a href="{{ constant('URL_SISTEMA') }}/administracion/cartelera">Cartelera
</li>
<li>
<a href="{{ constant('URL_SISTEMA') }}/administracion/hidrocapital">Hidrocapital
</li>
{% else %}
<li> <a href="{{ constant('ROOT') }}">Cartelera</a>
</li>
<li> <a href="#">Perfíl propietario</a>
</li>
<li> <a href="#">Consulta Estado de Cuenta</a>
</li>
<li> <a href="#">Reportar pago de condominio</a>
</li>
<li> <a href="#">Solvencia de condominio</a>
</li>
<li> <a href="#">Carta de Residencia</a>
</li>
<li> <a href="#">Solvencia Hidrocapital</a>
</li>
<li> <a href="#">Consulta Junta de Condominio</a>
</li>
{% endif %}
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="row show-grid">
<!-- FOOTER: COPYRIGHT TEXT -->
<div class="col-sm-12 col-md-12">
    <p class="pull-right"><a href="http://www.pronet21.com.ve" target="_blank" >Página Web</a> <a href="http://www.pronet21.com.ve" target="_blank" style="color:#ed6642">Pronet21</a></p>
<p>MH Calidad Administrativa - V-12293263-6 &COPY; 2015</p>
</div>
</div>
</div>
</div>
</footer>
<!-- END FOOTER -->