<!-- FOOTER STARTS HERE -->
<footer id="footer">
<div class="footer-top"></div>
<div class="footer-wrapper">
<div class="container">
<div class="row show-grid">
<div class="col-sm-12 col-sm-12 col-md-12">
<div class="row show-grid">
<!-- FOOTER: LOGO -->
<div class="col-sm-4 col-md-4">
<!-- FOOTER: ADDRESS --> 
<address class="address">
<p><i class="fa fa-map-marker fa-2x"></i>Av.Este 0. Edif.INA. Piso 1. Apto 105</p>
<p><i>&nbsp;</i>La Candelaria, Caracas</p>
<p><i class="fa fa-phone fa-2x"></i>Teléfono: (0212) 573-1047</p>
<p><i class="fa fa-mobile-phone fa-2x"></i>Celular: (0416) 938-3447</p>
<p><i class="fa fa-mobile-phone fa-2x"></i>Celular: (0426) 316-1771</p>
<p><i class="fa fa-envelope-o"></i>email: mhcalidadadmi@yahoo.es</p>
<p><i class="fa fa-envelope-o"></i>email: aular6@hotmail.com</p>
</address>
</div>
<!-- FOOTER: ABOUT US -->
<div class="col-sm-4 col-md-4 footer-center">
<p>Compuesta por profesionales en áreas de la administración y contaduría, enfocados en ofercer un
servicio de calidad al menor costo posible.</p>
<p>Contamos con una selecta lista de clientes, lo que nos permite brindar una atención personalizada.</p>
<p>Todos nuestros procesos están ajustados a la ley y a los estándares que rigen las distintas actividades
    que llevamos a cabo para nuestros asociados.</p>
</div>
<!-- FOOTER: NAVIGATION LINKS -->
<div class="col-sm-4 col-md-4 footer-right">
<ul class="footer-navigate">

<li> <a href="administracion-contabilidad.html">Adminsitración y Contabilidad</a>
</li>
<li> <a href="fiscal.html">Asesoría Fiscal</a>
</li>
<li> <a href="administracion-condominio.html">Administración de Condominios</a>
</li>
<li> <a href="auditoria.html">Auditoría</a>
</li>
<li> <a href="gestoria.html">Gestoría</a>
</li>
<li> <a href="contacto.html">Contacto</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="row show-grid">
<!-- FOOTER: COPYRIGHT TEXT -->
<div class="col-sm-12 col-md-12">
    <p class="pull-right"><a href="http://www.pronet21.com.ve" target="_blank" >Página Web</a> <a href="http://www.pronet21.com.ve" target="_blank" style="color:#ed6642">Pronet21</a></p>
<p>MH Calidad Administrativa - V-12293263-6 &COPY; 2015</p>
</div>
</div>
</div>
</div>
</footer>
<!-- END FOOTER -->