<!-- HEADER: PRIMARY SITE NAVIGATION -->
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12">
<div class="navbar navbar-default">
<div class="navbar-header"></div>
<div class="buttons-container"></div>
<div class="navbar-collapse">
<ul class="nav nav-pills navbar-nav">
<li id="inicio" class="single">
<a href="{{ ROOT }}index.html">Inicio</a>
</li>
<li id="empresa" class="single"><a href="{{ ROOT }}empresa.html">MH CALIDAD</a></li>
<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
SERVICIOS
</a>
<ul class="dropdown-menu">
<li><a href="administracion-contabilidad.html">Administración y Contabilidad</a>
</li>
<li><a href="fiscal.html">Administración Fiscal</a>
</li>
<li><a href="administracion-condominio.html">Administración de Condominios</a>
</li>
<li><a href="auditoria.html">Auditoría</a>
</li>
<li><a href="gestoria.html">Gestoría</a>
</li>
</ul>
</li>
<!--li class="single"><a href="enlinea/login.php">CONDOMINIO<i>Consultas en línea</i>
</a>
</li>
<li class="single"> <a href="#menu3">CONTABILIAD<i>Area de clientes</i>
</a>
</li>
<li class="single"> <a href="#menu4">FISCAL<i>Area de clientes</i>
</a>
</li-->
<li class="single"><a href="contacto.html">CONTACTENOS
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>