<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div><b><span style="font-family:Tahoma">Caracas, %fecha%<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Hrs. %hora%</span></b></div>

<div><b><span style="font-family:Tahoma">&nbsp;</span></b></div>

<div><b><span style="font-family:Tahoma">Señores</span></b></div>

<div><b><span style="font-family:Tahoma">PROFESIONALES QUIRURGICOS DE CARACAS (PQC)</span></b></div>

<div><b><span style="font-family:Tahoma">Presente.</span></b></div>

<div><b><span style="font-family:Tahoma"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b></div>

<div><b><span style="font-family:Tahoma"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span>&nbsp;</span>Atención.: %coordinador% (Coordinación
%clinica%) </span></b></div>

<div><b><span style="font-family:Tahoma"><span>&nbsp;</span></span></b></div>

<div style="text-align:justify"><b><span style="font-family:Tahoma"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b></div>

<div style="text-align:justify;text-indent:24.65pt"><b><span style="font-family:Tahoma" lang="ES-VE">Reciban un cordial saludo</span></b><b><span style="font-family:Tahoma">, enviamos
y adjuntamos archivo con<span>&nbsp; </span>el <span>&nbsp;</span>reporte <span>&nbsp;</span>de los cálculos del tiempo de las
intervenciones quirúrgicas <span>&nbsp;</span>correspondiente
al mes de agosto del año en curso. En el mismo, podrían encontrar algunos
registros que están resaltados en color amarillo, Favor revisar, evaluar y contrastar
con los comprobantes originales, ya que presentan <span>&nbsp;</span>datos <span>&nbsp;</span>inconsistentes</span></b></div>

<div style="margin-left:25.5pt;text-align:justify"><b><span style="font-family:Tahoma">&nbsp;</span></b></div>

<div style="margin-left:25.5pt;text-align:justify"><b><span style="font-family:Tahoma">Sin otro
comentario que agregar, se despide</span></b></div>

<div style="text-align:justify"><b><span style="font-family:Tahoma">&nbsp;</span></b></div>

<div style="text-align:center;background:white" align="center"><span><b><span style="font-family:Helvetica;color:black">Atentamente</span></b></span><b><span style="font-family:Helvetica;color:black"></span></b></div><div dir="ltr">

<span style="font-size:12.0pt;font-family:Tahoma;color:#ff6600">MH Calidad Administrativa</span><span style="font-size:12.0pt;font-family:Tahoma;color:#3366ff"> </span></div><div><span></span></div><div>
</body>
</html>
