ErrorDocument 404 /404.html

# charset
AddCharset utf-8 .html

Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^mhcalidadad.com
RewriteRule (.*) https://www.mhcalidad.com/$1 [R=301,L]

RewriteBase /
Rewriterule ^([A-Za-z\-]+).html$ index.php?accion=$1 [L]
Rewriterule ^enlinea/([A-Za-z\-]+)/([A-Za-z\-]+)$ enlinea/$1/index.php?accion=$2 [L]
Rewriterule ^enlinea/([A-Za-z\-]+)/([A-Za-z\-]+)/([0-9A-Za-z\-]+)$ enlinea/$1/index.php?accion=$2&id=$3 [L]
Rewriterule ^fiscal/([A-Za-z\-]+)/([A-Za-z\-]+)$ fiscal/$1/index.php?accion=$2 [L]
Rewriterule ^fiscal/([A-Za-z\-]+)/([A-Za-z\-]+)/([0-9A-Za-z\-]+)$ fiscal/$1/index.php?accion=$2&id=$3 [L]
Rewriterule ^contabilidad/([A-Za-z\-]+)/([A-Za-z\-]+)$ contabilidad/$1/index.php?accion=$2 [L]
Rewriterule ^contabilidad/([A-Za-z\-]+)/([A-Za-z\-]+)/([0-9A-Za-z\-]+)$ contabilidad/$1/index.php?accion=$2&id=$3 [L]

# charset
AddType 'text/html; charset=UTF-8' html

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A0
Header set Connection keep-alive 
<FilesMatch "\.(jpe?g|gif|png|css|js)$">
#tiempo en cachear los archivos
ExpiresDefault A14515200
Header append Cache-Control "public"
</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
Header set Connection keep-alive 
<FilesMatch "\.(jpe?g|gif|png|css|js)$">
#tiempo en cachear los archivos
Header set Cache-Control "max-age=14515200, public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
Header set Vary Accept-Encoding
</FilesMatch>
</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php5_module>
   php_flag asp_tags Off
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag asp_tags Off
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
