    <!-- BEGIN ARTICLE CONTENT AREA -->
<div class="col-md-12 col-sm-12 main-column">
	<article>
		<h2>
			<a href="#">Publicar Balance General</a>
		</h2>
		{% if resultado is defined %}
			{% include 'misc/resultado-carga.html.twig' %}
		{% endif %}
		<form id="publicacion" 
            action="{{constant('URL_SISTEMA')}}/nomina/" 
            method="post" 
			class="form-horizontal contact-agent-form" 
            enctype="multipart/form-data">
            <input type="hidden" value="{{reporte}}" name="reporte"/>
            {# CLIENTE #}
            {% include 'misc/select.empresa.html.twig' %}

            {# PERIODO #}
			<div class="form-row">
                <div class="form-group col-md-2">
					<label for="mes">Mes<sup>*</sup></label>
                    <select class="required form-control" name="mes" id="mes">
						<option value="1">Enero</option>
						<option value="2">Febrero</option>
						<option value="3">Marzo</option>
						<option value="4">Abril</option>
						<option value="5">Mayo</option>
						<option value="6">Junio</option>
						<option value="7">Julio</option>
						<option value="8">Agosto</option>
						<option value="9">Septiembre</option>
						<option value="10">Octubre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>
                </div>
                <div class="form-group col-md-2">
                    <label for="year">Año<sup>*</sup></label>
                    <input type="text" class="form-control" id="year" name="year">
                </div>
			</div>
            {# ARCHIVO #}
			<div class="form-row">
				<div class="form-group">
					<label class="control-label">Seleccione el archivo Balance General<sup>*</sup>
					</label>
					<input type="file" class="required" id="archivo" name="archivo" accept="application/pdf">
				</div>
			</div>
			<div class="form-row">
				<div class="control-group form-button-offset col-md-6 col-sm-6">
					<input type="submit" value="Publicar" class="btn btn-danger">
				</div>
			</div>

		</form>
		<br/>
		<div class="text-divider5">
			<span></span>
		</div>

	</article>
	<!-- END ARTICLE CONTENT AREA -->
</div>
